body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'sans-serif';
}
.menu{
    display:flex;
    gap: 20px;
    background:rgb(209, 90, 69);
    align-items: center;
    justify-content: flex-end;
}

.menu > a {
    color:white;
    text-decoration:none;
    padding: 10px;
}

.menu > a:hover{
    color:yellow;
}

.padded_section{
    padding: 10px;
}

span.notification {
    position: absolute;
    right: 10px;
    font-size: 1rem;
    font-style: italic;
    background: #3d815d;
    color: white;
    padding: 5px;
    border-radius: 4px;
    transition: all 1s ease-in;
}